<h2 class="text-xl font-semibold text-center mb-4">Edit Course</h2>

<form method="POST" action="/courses/{{_id}}/update" class="space-y-3 max-w-md mx-auto">
  <input name="name" value="{{name}}" placeholder="Course Name" required class="w-full p-2 border rounded" />
  <input name="duration" value="{{duration}}" placeholder="Duration" required class="w-full p-2 border rounded" />
  <input name="price" value="{{price}}" placeholder="Price" required class="w-full p-2 border rounded" />
  <input name="datetime" type="datetime-local" value="{{datetime}}" required class="w-full p-2 border rounded" />
  <div class="mb-4">
  <label class="block text-gray-700 text-sm font-bold mb-2" for="organizer">
    Organizer
  </label>
  <input
    name="organizer"
    id="organizer"
    value="{{organizer}}"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
  />
</div>

  <input name="location" value="{{location}}" placeholder="Location" required class="w-full p-2 border rounded" />
  <textarea name="description" class="w-full p-2 border rounded" required>{{description}}</textarea>

  <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded">Update Course</button>
</form>
